label {
    font-size: 14px;

    &.lowercase {
        text-transform: none;
    }

    span {
        color: #CFA74B;
    }
}

textarea {
    resize: none;
}

input.form-control, textarea.form-control {
    border: 2px solid #E7E7E7;
    border-radius: 0;

    &, &:focus {
        box-shadow: none;
    }

    &:focus {
        border-color: $color-primary-light;
    }
}

input.form-control.rounded, textarea.form-control.rounded {
    border-radius: 20px;
}

input.form-control.w-bg, textarea.form-control.w-bg {
    border-color: #F6F6F6;
    background: #F6F6F6;
    color: #5C616F;

    &:focus {
        border-color: $color-primary-light;
    }

    &:read-only {
        border-color: $color-highlight3;
        color: #9d9c9c;
        background: $color-white;
        cursor: not-allowed;
    }
}

label[data-type="checkbox"] {
    text-transform: none;
    color: $color-black;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;

    .select2 {
        max-width: 100%;
    }
}

a.bt, button.bt {
    color: $color-black;
    border-radius: 50px;
    background: none;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

    &:hover {
        color: $color-highlight;
    }

    &.bt-inverse {
        background: $color-black;
        color: $color-white;
        border: 1px solid transparent;

        &:hover {
            background: $color-highlight;
            color: $color-white;
        }
    }
}
