body.christmas {
    --customColorPrimary: #dc3545 !important;
    --customColorHighlight: #cc0000 !important;
    --customColorHighlight2: #ffd700 !important;
    --customColorHighlight3: #1b5e20 !important;

    #snow {
        transform: translateY(-200px);
        position: relative;
        z-index: 101;

        .snowflake {
            position: absolute;
            width: 10px;
            height: 10px;
            background: linear-gradient(rgb(255, 255, 255), white);
            /* Workaround for Chromium's selective color inversion */
            border-radius: 50%;
            filter: drop-shadow(0 0 10px white);
        }
    }

    section#brands {
        background: var(--customColorPrimary);
        padding: 60px 0;
        position: relative;

        &::before {
            background: url('../themes/images/christmas_bg1.png') no-repeat center center;
            background-size: cover;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: rotate(180deg);
            opacity: 0.5;
        }

        header h4 {
            color: #fff;
        }

        footer a {
            color: var(--customColorHighlight2);
        }
    }
}
