#absolute-whatsapp {
    position: fixed;
    z-index: 999;
    right: 80px;
    bottom: 20px;
    background: rgb(64, 234, 95);
    background: -moz-linear-gradient(180deg, rgba(64, 234, 95, 1) 31%, rgba(25, 200, 62, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(64, 234, 95, 1) 31%, rgba(25, 200, 62, 1) 100%);
    background: linear-gradient(180deg, rgba(64, 234, 95, 1) 31%, rgba(25, 200, 62, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40ea5f", endColorstr="#19c83e", GradientType=1);
    padding: 15px 15px 10px 15px;
    border-radius: 50px;
    color: #fff;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;

    &:hover {
        transition: transform 0.3s ease-in-out;
        transform: translate3d(0, 0, 0) scale(1.3);
        perspective: 1000px;
        animation: none;
    }

    @keyframes shake {
        0%, 10%, 90%, 100% {
            transform: translate3d(0, 0, 0);
        }
        20%, 80% {
            transform: translate3d(-1px, 0, 0);
        }
        30%, 50%, 70% {
            transform: translate3d(2px, 0, 0);
        }
        40%, 60% {
            transform: translate3d(-2px, 0, 0);
        }
    }
}
