@import "../app";

@import "../components/breadcrumb";

@import "../pages/sections/suppliers";
@import "../components/post-embed";
@import "../components/product-embed";

.post-container {
    width: 950px;
    margin: 0 auto;

    > figure {
        height: auto;
        width: 100%;
        position: relative;
        border-radius: 20px 20px 0 0;
        overflow: hidden;

        figcaption {
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 20px;
            background: #0000003d;
            color: #fff;
            padding: 5px 15px;
            font-size: 14px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container-body {
        padding: 25px;
        background: $color-white;
        border-radius: 0 0 20px 20px;

        h1 {
            margin-top: 0;
        }

        .post-description {
            margin-top: 20px;
            line-height: 30px;

            strong {
                color: $color-primary;
            }

            h2 {
                font-size: 30px;
                color: initial;
            }

            h3 {
                font-size: 24px;
                color: initial;
            }

            .iframe-container {
                position: relative;
                overflow: hidden;
                padding-top: 56.25%;
                width: 100%;

                iframe {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    left: 0;
                    right: 0;
                }
            }

            iframe {
                width: 100%;
                border-radius: 10px;
            }

            img {
                max-width: 100%;
            }

            ul {
                list-style: none;

                p {
                    margin-bottom: 0;
                }

                li {
                    position: relative;

                    &::before {
                        content: "•";
                        color: #005CAC;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -20px;
                        position: absolute;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #blog {
        .with-title {
            p {
                font-size: 14;
            }
        }
        .container {

            .blog-posts {
                .post-card {
                    overflow: visible;
                }
            }
        }
    }
    .container-body {
        margin-bottom: 25px;
    }
    .post-container {
        width: 100%;
        img {
            width: 100%;
            height: 125px;
            object-fit: cover;
        }
        .container {
            background-color: #fff;
            border-radius: 0 0 24px 24px;
            h1 {
                font-size: 20px;
                color: #35363A;
                padding-left: 10px;
            }
            p {
                font-size: 12px;
                color: #35363A;
            }
        }
    }
    .iframe-container {
        iframe {
            border-radius: 20px;
        }
    }
    td {
                font-size: 12px;
    }
    h1 {
        font-size: 24px;
    }
}
