@import "../app";

.table-wrapper {
    width: 100%;
    padding-right: 54px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    max-width: 300px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-button {
    background-color: #e0e0e0;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    border-radius: 6px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &::after,
    &::before {
        display: none !important;
    }
}

.modal-header h2 {
    margin: 0;

    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.close-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ff7373;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;

    @media (max-width: 767px) {
        width: 35px;
        height: 35px;
    }
}

/* Modal Body */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter-item {
    flex: 1;
}

.filter-item label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.filter-item select,
.filter-item input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-item .icon-input {
    max-width: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #21D0A1;
    border-radius: 4px;
    overflow: hidden;

    .icon {
        width: 48px;
        height: 43px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #21D0A1;

        svg {
            color: #3699CF;
        }
    }

    input {
        width: 100%;
        height: 40px;
        border: none !important;
        font-size: 12px;
        outline: none;
        border-radius: 0;

        &.disabled {
            background-color: #f4f5f8;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

/* Modal Footer */
.modal-footer {
    text-align: right;
}

.apply-button {
    width: 100%;
    background-color: #dcdcdc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

/* Responsividade */
@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        margin: 10% auto;
        padding: 15px;
    }

    .filter-group {
        flex-direction: column;
        gap: 15px;
    }

    .filter-item {
        width: 100%;
    }

    .search-input {
        max-width: none;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .filter-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .apply-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

#orders-table {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    thead {
        background-color: #F8F8F8;
        border-bottom: 2px solid #D9D9D9;
    }

    th {
        padding: 8px 10px;
        border-right: 2px solid #D9D9D9;
        font-size: 12px;
        text-align: left;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-black;

        &:last-child {
            border-right: none;
        }
    }

    td {
        padding: 8px 10px;
        border-right: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
        font-size: 12px;
        text-align: left;
        font-weight: 400;
        color: $color-black;

        &:last-child {
            border-right: none;
        }
    }

    .formatted-input {
        display: flex;
        height: 28px;
        align-items: center;
        width: fit-content;

        .formatted-input-icon {
            width: 100%;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #36C8B1;
            padding: 5px;
            border-radius: 5px 0 0 5px;

            svg {
                color: #0C5DA7;
            }
        }

        input {
            height: 28px;
            border: none;
            outline: none;
            font-size: 12px;
            color: $color-black;
            padding: 5px;
            background-color: #F3F4F7;
            border: 1px solid #36C8B1;
            border-left: none;
            border-radius: 0 5px 5px 0;
        }

        input[type="text"] {
            width: 80px;
            text-align: center;
        }
    }

    .status {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 10px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;

        &.status-novo {
            background-color: #FF9D25;
        }

        &.status-liberado {
            background-color: #43BDFF;
        }

        &.status-recebido {
            background-color: #21D0A1;
        }

        &.status-faturado {
            background-color: #21D0A1;
        }

        &.status-transmitido {
            background-color: #3699CF;
        }

        &.status-cancelado {
            background-color: #FF6F6F;
        }
    }

    td .action-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button,
        a {
            width: 25px;
            height: 25px;
            border: none;
            outline: none;
            background-color: transparent;
            border-radius: 3px;
            cursor: pointer;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &.eye {
                svg {
                    color: #3699CF;
                }
            }

            &.printer {
                background-color: #E6E6E6;

                svg {
                    color: #1C1B1F;
                }
            }

            &.printer {
                svg {
                    color: #1C1B1F;
                }
            }
        }
    }
}

.orders-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border: 1px solid #D9D9D9;
            border-radius: 0;
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-weight: 600;
                color: #35363A;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 767px) {
                    font-size: 12px;
                }
            }

            @media (max-width: 767px) {
                width: 30px;
            }

            &:first-child {
                width: 90px;
                height: 40px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: none;

                a {
                    font-weight: 600;
                    color: $color-primary;
                }

                @media (max-width: 767px) {
                    width: 60px;
                }
            }

            &:last-child {
                width: 90px;
                height: 40px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-left: none;

                a {
                    font-weight: 600;
                    color: $color-primary;
                }

                @media (max-width: 767px) {
                    width: 40px;
                }
            }

            &:hover,
            &.active {
                background-color: $color-primary;
                border-color: $color-primary;

                a {
                    color: $color-white;
                }
            }

            &.disabled {
                background-color: #E6E6E6;
                cursor: not-allowed;
                border-color: #D9D9D9;

                a {
                    color: #999;
                    cursor: not-allowed;
                }
            }
        }
    }
}

@media (max-width: 1340px) {
    .table-wrapper {
        width: 100%;
        max-width: 880px;
        overflow-x: auto;
        padding-right: 0;
        padding-bottom: 20px;
    }

    #orders-seller {
        td {
            font-size: 10px;
        }
    }
}

@media (max-width: 991px) {
    .table-wrapper {
        width: 100%;
        max-width: 670px;
        overflow-x: auto;
    }
}
